/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Tic Tac Toe Styles */

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
}

h1 {
  font-size: 200%;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 125%;
  width: 100%;
  text-align: center;
}

#container {
  width: 602px;
  height: 602px;
  display: block;
  position: relative;
  margin: 25px auto;
}

#game-over {
  width: 602px;
  height: 602px;
  display: block;
  position: relative;
  margin: 25px auto;
  font-size: 32px;
  padding: 200px 0;
  text-align: center;
  color: black;
}

table {
  width: 604px;
  height: 604px;
}

td {
  width: 200px;
  height: 200px;
  text-align: center;
  vertical-align: middle;
}

td[data-position="1"], td[data-position="7"] {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

td[data-position="3"], td[data-position="5"] {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

td[data-position="4"] {
  border: 2px solid gray;
}

#message {
  width: 600px;
  border: 1px solid gray;
  background-color: lightgray;
  text-align: center;
  height: 40px;
  margin: 10px auto;
  padding-top: 10px;
  display: block;
  position: relative;
}

.cell {
  font-size: 100px;
  font-family: sans-serif;
  color: black;
}

