/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Slider styles */
h1 {
  font-family: sans-serif;
  font-size: 30px;
  margin: 30px auto;
  width: 100%;
  text-align: center;
}

#slideshow-viewport {
  width: 680px;
  height: 400px;
  margin: auto;
  position: relative;
  display: block;
  border: 2px solid gray;
  overflow: hidden;
}

#next, #prev, #play, #pause {
 font-size: 100px;
 height: 400px;
 padding: 150px 0;
 width: 40px;
 display: block;
 position: absolute;
 color: transparent;
}

#next {
   top: 0;
 right: 0px;
}

#prev {
   top: 0;
  left: 0px;
}

#play, #pause {
  left: 320px;
  top: 0;
}

#pause {
  display: none;
}

#next:hover, #prev:hover, #play:hover, #pause:hover, #play {
  color: black;
  text-shadow: 3px 3px 6px rgba(150, 150, 150, 0.91);
}

#slidereel {
  display: block;
  position: absolute;
  top: 0;
  left: -680px;
  height: 400px;
  width: 5000px;
  margin: 0;
  padding: 0;
  border: none;
}

.slide {
  display: inline-block;
  position: relative;
  width: 680px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
}
#photo1, #photo-1 {
  background-image: url("images/img1.jpg");
}

#photo1 {
  left: -4px;
}

#photo2 {
  background-image: url("images/img2.jpg");
  left: -8px;
}

#photo3 {
  left: -12px;
  background-image: url("images/img3.jpg");
}

#photo4 {
  left: -16px;
  background-image: url("images/img4.jpg");
}

#photo5, #photo-5 {
  background-image: url("images/img5.jpg");
}

#photo5 {
  left: -20px;
}

#dot-nav {
  width: 680px;
  margin: 10px auto;
  display: block;
  position: relative;
  padding-left: 240px;
}

.dot {
  margin: 10px;
  width: 20px;
  display: inline-block;
  position: relative;
  height: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
}

.current {
  background-color: gray;
}

#preview-prev, #preview-next {
  display: block;
  position: absolute;
  width: 224px;
  height: 133px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#preview-prev {
  left: 0;
  top: 133px;
}

#preview-next {
  right: 0px;
  top: 133px;
}

#container {
  width: 1148px;
  height: 400px;
  margin: auto;
  display: block;
  position:relative;
}
