/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Mint-clone styles */

body {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #333;
  font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  text-align: left;
  -webkit-font-smoothing: subpixel-antialiased;
}

header {
  height: 96px;
  position: relative;
}

.logolinks {
  display: block;
  width: 100%;
  height: 38px;
  position: absolute;
  bottom: 0;
}

#logo {
  background: url("assets/logo.png") no-repeat 0 0;
  width: 93px;
  height: 38px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 5px 0 5px 0;
}

#links {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}

#links ul {
  list-style: outside none;
}

#links li {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px 0 5px 0;
}

#links li:first-child {
  font-weight: bold;
  border-right: solid 1px lightgray;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
}

#content {
  margin-top: 10px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  min-height: 300px;
  padding: 50px 25px 50px 50px;
}

#left {
  width: 400px;
  float: left;
}

#left header {
  display: block;
  height: auto;
  line-height: 1.5;
}

#left form {
  margin-top: 30px;
  font-size: 14px;
}

label {
  display: block;
  padding-bottom: 6px;
  margin-top: 0px;
  margin-bottom: 10px;
}

fieldset {
  position: relative;
  margin-bottom: 50px;
  margin-top: 15px;
}

fieldset label {
  position: absolute;
  left: 30px;
}

.formlabel {
  margin-top: 25px
}

.textbox {
  box-shadow: none;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  width: 260px;
  height: 24px;
  padding: 2px;
  margin-bottom: 5px;
}

.remember {
  margin-right: 5px;
  width: 25px;
  height: 25px;
  border: solid 1px lightgray;
  border-radius: 3px;
  position: absolute;
  left: -30px;
  top: -10px;
}

.signup {
  background:#45cae6;
  color: white;
  font-size: 1.125em;
  line-height: 1.3em;
  font-weight: 400;
  box-shadow: none;
  padding: 0 20px;
  border: none;
  border-radius: 3px;
  height: 34px;
  margin-bottom: 30px;
}

h1 {
  font-size: 30px;
  font-weight: 300;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: #7d7f80;
}

a {
  color:#45cae6;
  text-decoration: none;
}

p {
  font-size: 12px;
  margin-left: 2px;
  color: #666;
}

#right {
  margin-left: -300px;
  padding-left: 0;
  float: right;
  border-left: solid 1px lightgray;
}

#right aside {
  background: #f5f5f5;
  width: 200px;
  margin-left: 25px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
  height: 540px;
  line-height: 1.5;
}

#right ul {
  list-style:  disc outside none;
  padding-left: 20px;
}

#right li {
  padding: 0 5px 5px 0;
  margin-bottom: 10px;
  font-size: 12px;
}

.footer {
    position: relative;
    width: 100%;
    color: #a5a5a5;
  }

.footer ul {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  text-align: center;
  position: absolute;
  top: 50px;
  width: 100%;
  display: block;
}

.footer li {
  padding: 0 2%;
  display: inline-block;
  font-size: 14px;
  border-right: 1px solid #ccc;
}

.footer li:last-child {
  border: none;
  min-height: 300px;
}

.footer div {
  display: block;
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
}

.footer div:last-child {
  top: 175px;
}

.footer img {
  width: 258px;
  height: 58px;
}

.footer small {
  font-size: 10px;
  margin-top: 120px;
}

/* Additional styles for validation */
form > div {
  position: relative;
}

form label.error {
  color: red;
  font-size: 11px;
  font-weight: 200px;
}

form input.error {
  border-color: red;
}

.message {
  background-color: #fff;
  width: 500px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -250px;
  text-align: center;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding-top: 20px;
}
.message p {
  padding-top: 15px;
}
.message p:last-child {
  font-weight: bold;
}
