/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Waldo styles */
html {
  font-family: Helvetica, sans-serif;
}

p {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

#index-container {
  width: 900px;
  margin: auto;
}

.puzzle-brief {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 20px 20px;
  width: 400px;
  height: 400px;
  background: lightsteelblue;
  border: 1px solid steelblue;
  border-radius: 5px;
}

h2 {
  width: 100%;
  text-align: center;
  margin: auto;
  display: block;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.puzzle-brief img {
  margin: auto;
  position: relative;
  display: block;
  height: 240px;
  width: 320px;
  margin-top: 20px;
  border: 1px solid steelblue;
}

#puzzle-div {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  text-align: center;
}

#puzzle-container {
  width: auto;
  height: 768px;
  margin: auto;
  display: block;
  position: relative;
}

h1 {
  font-family: 'Gochi Hand', cursive;
  font-size: 36px;
  margin: 20px 0;
  font-weight: 700;
  width: 100%;
  text-align: center;
  position: relative;
  display: block;
}

#puzzle{
  height: 768px;
  width: auto;
  margin: auto;
  display: block;
  position: relative;
  border: solid 2px gray;
  box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
}

#picker {
  position: absolute;
  display: none;
  height: auto;
  width: 160px;
  border: 1px solid gray;
  background: lightgray;
  box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
  padding: 10px 0;
  border-radius: 5px;
  opacity: 0.95;
}

.name-button {
  width: 140px;
  height: 50px;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  color: white;
  background: steelblue;
  border: 1px solid gray;
  border-radius: 5px;
  margin: auto;
  padding: 15px;
  text-align: center;
}

.name-button:not(:first-child) {
  margin-top: 10px;
}

.name-button:hover {
  background: lightsteelblue;
}

#complete {
  background: lightgray;
  border: 1px solid gray;
  box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.75);
  text-align: center;
  margin: auto;
  width: 600px;
  height: 480px;
  display: none;
  padding: 20px;
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.9;
}

#back {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: block;
  z-index: 100;

}

#back > a {
  color: black;
  text-decoration: none;
}

#character-list-container {
  height: 120px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: white;
  opacity: 0.7;
}

#character-list {
  margin: 0 auto;
  height: 120px;
  text-align: center;
  vertical-align: bottom;
}

#character-list h2 {
  font-size: 30px;
  height: 120px;
  padding-top: 90px;
  font-weight: 700;
  text-align: center;
  position: relative;
  display: inline-block;
  width: auto;
  vertical-align: bottom;
}

#character-list ul {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}

#character-list li {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 10px;
}

#character-list img {
  height: 100px;
  position: relative;
  display: block;
  width: auto;
}

#character-list .name {
  position: relative;
  font-size: 20px;
  color: black;
  font-weight: bold;
  height: 20px;
  width: auto;
  text-align: center;
  display: block;
}

#time {
  position: relative;
  font-size: 60px;
  text-align: center;
  margin: 10px auto;
  display: block;
}

#complete h2 {
  font-family: 'Gochi Hand', cursive;
  font-size: 64px;
  text-align: center;
  position: relative;
  display: block;
  width: auto;
  margin-top: 30px;
}

#record {
  position: relative;
  width: auto;
  height: auto;
  display: block;
  margin: 30px auto 30px auto;
  text-align: center;
}

#record input {
  display: inline-block;
}

#tooslow {
  position: relative;
  display: none;
  height: auto;
  width: auto;
  text-align: center;
}
