<h1>Where's Waldo</h1>
<h2>Please pick a puzzle</h2>
<div id="index-container">
  <% for puzzle in @puzzles %>
    <%= link_to puzzle_path(puzzle) do %>
    <div class="puzzle-brief">
      <h2><%= puzzle.title %></h2>
      <p><%= puzzle.level %></p>
      <%= link_to( image_tag("thumbs/#{puzzle.image}"), puzzle_path(puzzle)) %>
    </div>
    <% end %>
  <% end %>
<p>On a puzzle page, if you click on the image and do not see a character dropdown, simply reload the page.</p>
</div>
